# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# frontend code
node_modules/
build/
.svelte-kit/
package/
/test-results/
/playwright-report/
/playwright/.cache/
/dist

.env

static/workers

nns_canisters_ids.md